@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.certifications {
  font-weight: bold;
  font-size: 27px;
  padding-top: 21px;
  margin-bottom: 10px;
}

.techUsed {
  font-size: 17px;
}

.intro-container p {
  margin: 10px auto;
}

.intro-container {
  font-size: 25px;
  text-align: center;
}

.intro-container a {
  color: black;
}

.skills {
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.tech {
  color: white;
  text-transform: uppercase;
  background-color: cornflowerblue;
  padding: 5px;
  border: solid 1px black;
  font-weight: bold;
}

.projectTitle {
  font-size: 20px;
  margin: 36px;
  font-weight: 600;
}

.footerImage {
  display: block;
  margin: 40px auto 0px auto;
  width: 30%;
  border-radius: 50%;
  border: cornflowerblue solid 5px;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin: 39px auto;
  border: cornflowerblue solid 5px;
}

.liveButton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin: 2px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 10px;
}

.sourceButton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin: 2px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 10px;
}

.contact-anchor {
  font-weight: 100;
}

.contact-container {
  text-align: center;
  font-size: 27px;
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 50.5px;
}

.contact-container span {
  padding-top: 10px;
}

.contact-container a {
  color: black;
  text-decoration: underline;
}

.contact-container p {
  margin-bottom: 7px;
}

.darkModeButton {
  font-weight: bold;
  background-color: black;
  color: white;
  display: block;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 9px 9px;
  border: cornflowerblue solid 3.9px;
  margin: 3px auto 22px;
}

h1 {
  margin: 0;
  font-size: 40px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 35px;
}

.projects-container {
  text-align: center;
}
