@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.techUsed {
    font-size: 17px;
}

#contact a {
    color: white;
    background-color: cornflowerblue;
    text-decoration: none;
}

#skills {
    background-color: cornflowerblue;
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.tech {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
    background-color: cornflowerblue;
    padding: 5px;
    border: solid 1px;
    border-color: black;
}

.projectTitle {
    font-size: 29px;
    text-decoration: none;
}

#thatsAll {
    width: 26%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.live {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    margin: 2px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    transform: scale(10);
}

.source {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    margin: 2px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
}


#contact {
    text-align: center;
    font-size: 25px;
}

#darkMode {
    font-weight: bold;
    background-color: black;
    color: white;
    border: solid;
    border-color: cornflowerblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 9px 9px;
}

#pic {
    display: block;
    width: 300px;
    border-radius: 50%;
}

#picDark {
    display: block;
    width: 300px;
    border-radius: 50%;
}


h1, #intro {
    display: block;
    margin: 0;
    font-size: 40px;
    text-align: center;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 35px;
}

#intro {
    font-size: 25px;
    position: absolute;
    top: 100px;
    right: 200px;
    left: 200px;
}

#intro a {
    color: black;
}


#contact a {
    color: black;
    background-color: cornflowerblue;
    text-decoration: none;
}

@media only screen and (max-width: 1125px) {
    #intro {
    right: 0px;
    }
}

@media only screen and (max-width: 1065px) {
    #intro {
    right: 0px;
    }

}

@media only screen and (max-width: 1020px) {
    #intro {
    right: 50px;
    }
}

@media only screen and (max-width: 1048px) {
    #intro {
    position: initial;
    }
    
    #pic {
        width: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1100px) {
    
    #intro {
        left: 280px;
    }

}

@media only screen and (max-width: 330px) {
    #intro {
    position: initial;
    }

   
    #pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}
